# SPDX-License-Identifier: GPL-3.0-or-later
[Desktop Entry]
Type=Application
Name=KDE Wallpaper Engine
Comment=Browse and safely run Wallpaper Engine wallpapers
Exec=kwe-manager
Icon=preferences-desktop-wallpaper
Categories=Qt;KDE;Settings;DesktopSettings;
StartupNotify=true
Terminal=false

